<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>articles list page</title>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>








</head>



<body>

<div align="center">
    <h1>WeLcOmE BrO</h1>
<h3>{{ran_art.title}}</h3>
    {{ran_art.title}}
   <p>dd {{ day}}</p>

    <img src="{{random_article.image.url}}" class="img-circle" width="500" height="300"/>

</div>

<h1 align="center">List Of Articles</h1>
<div align="center">
    <ol>{% for f in obj %}
   <!-- <img src="{{ f.image.url }}" alt="Picture of Rango" width="100" height="100"/> -->

       <li>
           <a href="./art/{{f.id}}">{{f.title}}</a>
       </li>
        <img src="{{f.optional_image.url}}" width="100" height="100"/>
        <br/>
        {% endfor %}

               </ol>
            </div>



</body>
</html>