{% extends "demo1/index.html"%}
{% block content %}

    <h3 align="left"><b>List of Titles</b></h3>
    <h2><small>{{ran_art.title}} </small></h2>

    <h5 class="glyphicon glyphicon-time"> {{ day }}|{{ran_art.public_date}} | {{ran_art.author}}</h5><br/>

    <img src="{{ran_art.image.url}}" class="img-responsive center-block" width="500" height="300"/><br/>
    <p class="text-justify"> {{ran_art.body_text  | truncatewords:100}} </p>
    <a href="./{{ran_art.id}}"> Click to Read</a>
 <hr>


             <ul>
                 {% for f in obj1 %}

       <!-- <img src="{{ f.image.url }}" alt="Picture of Rango" width="100" height="100"/> -->
                   <li>
                      <h2><small>{{f.title}}</small></h2>
                       <p class="text-justify"> {{f.body_text | truncatewords:100}}</p>
                       <a href="./{{f.id}}"> Click to Read</a>
                   </li>

                        <br/>

                 {% endfor %}

               </ul>

{% endblock %}




 {% block footer%}
<div class="row">

   {% for foo in obj2 %}

        <div class="col-xs-3">
           <!-- <img src="{{ f.image.url }}" alt="Picture of Rango" width="100" height="100"/>-->
            <img class="img-responsive" src="{{foo.image.url}}" class="img-responsive"  /><br/>
            <a href="./{{foo.id}}"><p style="color: cornflowerblue;">{{foo.title}}</p>     </a>
        </div>
    {% endfor %}
</div>

{% endblock %}






